{
    "extends": "airbnb",
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "parser": "babel-eslint",
    "rules": {
        // your custom rules here
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    }
}